In [67]:
import pandas as pd
import gcsfs
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [68]:
fs = gcsfs.GCSFileSystem(project='omina-gcp-resource')
with fs.open('omina-test-set/occupancy-data/occupancy_data.csv') as f:
    df = pd.read_csv(f)

In [69]:
df['color']= np.where( df['Occupancy']==1, "limegreen", "blue")

In [70]:
df['date'] = pd.to_datetime(df['date'])
df.index = df['date']
del df['Unnamed: 0']

In [71]:
df = df.sort_values(by='date')

In [72]:
df['lag_date'] = df.groupby(pd.TimeGrouper('D')).date.shift(1)
df['time_diff'] = df['date'] - df['lag_date']
df['time_diff'] = df['time_diff'].dt.total_seconds()
df['NSM'] = df.groupby(pd.TimeGrouper('D')).time_diff.cumsum()
del df['date']
del df['lag_date']
del df['time_diff']
df['NSM'].fillna(0,inplace = True)

/usr/local/envs/py2env/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  if __name__ == '__main__':
/usr/local/envs/py2env/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,color,NSM
date,,,,,,,,
2015-02-02 14:19:00,23.7000,26.272,585.200000,749.200000,0.004764,1,limegreen,NaN
2015-02-02 14:19:59,23.7180,26.290,578.400000,760.400000,0.004773,1,limegreen,59.0
2015-02-02 14:21:00,23.7300,26.230,572.666667,769.666667,0.004765,1,limegreen,120.0
2015-02-02 14:22:00,23.7225,26.125,493.750000,774.750000,0.004744,1,limegreen,180.0
2015-02-02 14:23:00,23.7540,26.200,488.600000,779.000000,0.004767,1,limegreen,240.0