In [ ]:
#!pip install --upgrade pip
import google.datalab.bigquery as bq
import pandas as pd
from keras.layers import Dense

In [5]:
%%bq query -n requests
SELECT id, class, name
FROM `bigquerydata210514.test_data`
WHERE class = 3
ORDER BY id DESC
LIMIT 10

In [6]:
df = requests.execute(output_options=bq.QueryOutput.dataframe()).result()
df.head()

     id  class                            name
0  1309      3        Peter, Master. Michael J
1  1308      3             Ware, Mr. Frederick
2  1307      3    Saether, Mr. Simon Sivertsen
3  1305      3              Spector, Mr. Woolf
4  1304      3  Henriksson, Miss. Jenny Lovisa