In [12]:
import google.datalab.bigquery as bq
import pandas as pd

In [13]:
%%bq query -n requests
SELECT id, class, name
FROM `bigquerydata210514.test_data`
WHERE class = 3
ORDER BY id DESC
LIMIT 10

In [14]:
df = requests.execute(output_options=bq.QueryOutput.dataframe()).result()
df.head(1)

     id  class                      name
0  1309      3  Peter, Master. Michael J

In [ ]:
#df.to_csv('occp.csv', index = False)
#!gsutil cp 'occp.csv' 'gs://omina-test-set/occupancy-data/test.csv'