In [4]:
#!pip install gcsfs

Collecting gcsfs
  Downloading https://files.pythonhosted.org/packages/59/da/6e421a940bef8145c153291fac4536d33b580f2a66e43220efd3b6c47f0d/gcsfs-0.1.2.tar.gz (48kB)
    100% |████████████████████████████████| 51kB 4.3MB/s ta 0:00:011
Requirement already satisfied: google-auth>=1.2 in /usr/local/envs/py2env/lib/python2.7/site-packages (from gcsfs) (1.5.1)
Requirement already satisfied: google-auth-oauthlib in /usr/local/envs/py2env/lib/python2.7/site-packages (from gcsfs) (0.1.0)
Requirement already satisfied: requests in /usr/local/envs/py2env/lib/python2.7/site-packages (from gcsfs) (2.18.4)
Requirement already satisfied: decorator in /usr/local/envs/py2env/lib/python2.7/site-packages (from gcsfs) (4.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/envs/py2env/lib/python2.7/site-packages (from google-auth>=1.2->gcsfs) (0.2.2)
Requirement already satisfied: cachetools>=2.0.0 in /usr/local/envs/py2env/lib/python2.7/site-packages (from google-auth>=1.2->gcsfs) (2.1.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/envs/py2env/lib/python2.7/site-packages (from google-auth>=1.2->gcsfs) (1.10.0)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/envs/py2env/lib/python2.7/site-packages (from google-auth>=1.2->gcsfs) (3.4.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/envs/py2env/lib/python2.7/site-packages (from google-auth-oauthlib->gcsfs) (0.8.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/envs/py2env/lib/python2.7/site-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/envs/py2env/lib/python2.7/site-packages (from requests->gcsfs) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/envs/py2env/lib/python2.7/site-packages (from requests->gcsfs) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/envs/py2env/lib/python2.7/site-packages (from requests->gcsfs) (2018.8.13)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.1 in /usr/local/envs/py2env/lib/python2.7/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.4)
Requirement already satisfied: oauthlib>=0.6.2 in /usr/local/envs/py2env/lib/python2.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (2.1.0)
Building wheels for collected packages: gcsfs
  Running setup.py bdist_wheel for gcsfs ... done
  Stored in directory: /content/.cache/pip/wheels/8e/ad/41/6b3dcd713d1c4073e34f50d079a7d87ee3a7070cf52a2d88e7
Successfully built gcsfs
Installing collected packages: gcsfs
Successfully installed gcsfs-0.1.2

In [5]:
import pandas as pd
import gcsfs

fs = gcsfs.GCSFileSystem(project='omina-gcp-resource')
with fs.open('omina-test-set/occupancy-data/occupancy_data.csv') as f:
    df = pd.read_csv(f)

In [6]:
df.head()

,Unnamed: 0,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
0,1,2015-02-11 14:48:00,21.7600,31.133333,437.333333,1029.666667,0.005021,1
1,2,2015-02-11 14:49:00,21.7900,31.000000,437.333333,1000.000000,0.005009,1
2,3,2015-02-11 14:50:00,21.7675,31.122500,434.000000,1003.750000,0.005022,1
3,4,2015-02-11 14:51:00,21.7675,31.122500,439.000000,1009.500000,0.005022,1
4,5,2015-02-11 14:51:59,21.7900,31.133333,437.333333,1005.666667,0.005030,1

Another way of readng data from gcs

In [8]:
import google.datalab.storage as storage
import pandas as pd
from io import BytesIO

mybucket = storage.Bucket('omina-test-set')
data_csv = mybucket.object('occupancy-data/occupancy_data.csv')

uri = data_csv.uri
%gcs read --object $uri --variable data

df = pd.read_csv(BytesIO(data))
df.head()

,Unnamed: 0,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
0,1,2015-02-11 14:48:00,21.7600,31.133333,437.333333,1029.666667,0.005021,1
1,2,2015-02-11 14:49:00,21.7900,31.000000,437.333333,1000.000000,0.005009,1
2,3,2015-02-11 14:50:00,21.7675,31.122500,434.000000,1003.750000,0.005022,1
3,4,2015-02-11 14:51:00,21.7675,31.122500,439.000000,1009.500000,0.005022,1
4,5,2015-02-11 14:51:59,21.7900,31.133333,437.333333,1005.666667,0.005030,1