In [ ]:
!pip install gcsfs

In [2]:
import pandas as pd
import gcsfs
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [70]:
fs = gcsfs.GCSFileSystem(project='omina-gcp-resource')
with fs.open('omina-test-set/occupancy-data/occupancy_data.csv') as f:
    df = pd.read_csv(f)

In [71]:
df['color']= np.where( df['Occupancy']==1, "limegreen", "blue")

In [72]:
df['date'] = pd.to_datetime(df['date'])
df.index = df['date']
del df['Unnamed: 0']

In [73]:
df = df.sort_values(by='date')

In [74]:
df_group = df.groupby(pd.Grouper(key = 'date', freq = 'D'))
df['NSM'] = df.date.apply(lambda x: x - x.replace(hour=0, minute=0, second=0)).dt.total_seconds()
df['WS'] = ((pd.DatetimeIndex(df.index).dayofweek) // 5 == 1).astype(int)
df.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,color,NSM
date,,,,,,,,,
2015-02-02 23:50:00,2015-02-02 23:50:00,20.650000,22.2450,0.0,449.250000,0.003342,0,blue,85800.0
2015-02-02 23:51:00,2015-02-02 23:51:00,20.633333,22.2300,0.0,454.666667,0.003337,0,blue,85860.0
2015-02-02 23:51:59,2015-02-02 23:51:59,20.650000,22.2450,0.0,449.000000,0.003342,0,blue,85919.0
2015-02-02 23:53:00,2015-02-02 23:53:00,20.625000,22.2225,0.0,448.500000,0.003334,0,blue,85980.0
2015-02-02 23:54:00,2015-02-02 23:54:00,20.600000,22.2000,0.0,449.600000,0.003325,0,blue,86040.0
2015-02-02 23:55:00,2015-02-02 23:55:00,20.600000,22.2000,0.0,454.000000,0.003325,0,blue,86100.0
2015-02-02 23:55:59,2015-02-02 23:55:59,20.600000,22.2225,0.0,451.250000,0.003329,0,blue,86159.0
2015-02-02 23:57:00,2015-02-02 23:57:00,20.600000,22.2000,0.0,449.333333,0.003325,0,blue,86220.0
2015-02-02 23:57:59,2015-02-02 23:57:59,20.600000,22.2000,0.0,446.000000,0.003325,0,blue,86279.0
2015-02-02 23:58:59,2015-02-02 23:58:59,20.600000,22.2225,0.0,445.750000,0.003329,0,blue,86339.0
2015-02-03 00:00:00,2015-02-03 00:00:00,20.600000,22.2000,0.0,451.500000,0.003325,0,blue,0.0
2015-02-03 00:01:00,2015-02-03 00:01:00,20.600000,22.2000,0.0,455.250000,0.003325,0,blue,60.0
2015-02-03 00:02:00,2015-02-03 00:02:00,20.600000,22.2000,0.0,455.250000,0.003325,0,blue,120.0