In [ ]:
!pip install gcsfs

In [29]:
import pandas as pd
import gcsfs
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy.stats as stats
from sklearn.model_selection import TimeSeriesSplit
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

Reading the data files from the google cloud storage

In [5]:
fs = gcsfs.GCSFileSystem(project='omina-gcp-resource')
with fs.open('omina-test-set/occupancy-data/occupancy_data.csv') as f:
    df = pd.read_csv(f)

Changing the date variable to python datetime variable

In [6]:
df['date'] = pd.to_datetime(df['date'])
df.index = df['date']
del df['Unnamed: 0']

Sorting the dataframe by date

In [7]:
df = df.sort_values(by='date')

Creating the NSM variavle and WS variable [NSM stands for Number of seconds since midnight for each day and WS stands for week day (1) or weekend (0)]

In [8]:
df_group = df.groupby(pd.Grouper(key = 'date', freq = 'D'))
df['NSM'] = df.date.apply(lambda x: x - x.replace(hour=0, minute=0, second=0)).dt.total_seconds()
df['WS'] = ((pd.DatetimeIndex(df.index).dayofweek) < 5).astype(int)
del df['date']
df.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,NSM,WS
date,,,,,,,,
2015-02-02 14:19:00,23.7000,26.272,585.200000,749.200000,0.004764,1,51540.0,1
2015-02-02 14:19:59,23.7180,26.290,578.400000,760.400000,0.004773,1,51599.0,1
2015-02-02 14:21:00,23.7300,26.230,572.666667,769.666667,0.004765,1,51660.0,1
2015-02-02 14:22:00,23.7225,26.125,493.750000,774.750000,0.004744,1,51720.0,1
2015-02-02 14:23:00,23.7540,26.200,488.600000,779.000000,0.004767,1,51780.0,1

Generating the correlation table considering the entire data samples

In [9]:
df_corr =df.corr()
df_corr.head(7)

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,NSM,WS
Temperature,1.000000,-0.156964,0.688571,0.449989,0.205280,0.555610,0.235422,0.412400
Humidity,-0.156964,1.000000,-0.029459,0.299746,0.932724,0.046240,0.114961,-0.215841
Light,0.688571,-0.029459,1.000000,0.448105,0.223329,0.914850,0.095023,0.267150
CO2,0.449989,0.299746,0.448105,1.000000,0.477965,0.501582,0.127287,0.372715
HumidityRatio,0.205280,0.932724,0.223329,0.477965,1.000000,0.257324,0.201703,-0.051735
Occupancy,0.555610,0.046240,0.914850,0.501582,0.257324,1.000000,0.103522,0.341949
NSM,0.235422,0.114961,0.095023,0.127287,0.201703,0.103522,1.000000,-0.004215

In [11]:
def corrcoef_loop(df): # a function to calculate the associated p-values of correlation
    cols = df.shape[1]
    p = np.zeros(shape=(cols, cols))
    for i in range(cols):
        for j in range(i+1, cols):
            r, p_values = stats.pearsonr(df.iloc[:, i], df.iloc[:, j])
            p[i, j] = p[j, i] = p_values
    return p

Calculate p-values

In [12]:
df1 = df[['Temperature', 'Humidity', 'Light', 'CO2', 'HumidityRatio', 'NSM', 'WS']]
df_pval = pd.DataFrame(corrcoef_loop(df1), columns = df1.columns, index = df1.columns)
df_pval.head(7)

,Temperature,Humidity,Light,CO2,HumidityRatio,NSM,WS
Temperature,0.000000e+00,1.536382e-113,0.000000e+00,0.000000e+00,1.728531e-194,6.865398e-257,0.000000e+00
Humidity,1.536382e-113,0.000000e+00,2.392676e-05,0.000000e+00,0.000000e+00,1.957769e-61,2.745444e-215
Light,0.000000e+00,2.392676e-05,0.000000e+00,0.000000e+00,1.002775e-230,1.881377e-42,0.000000e+00
CO2,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.239133e-75,0.000000e+00
HumidityRatio,1.728531e-194,0.000000e+00,1.002775e-230,0.000000e+00,0.000000e+00,1.058240e-187,1.147644e-13
NSM,6.865398e-257,1.957769e-61,1.881377e-42,5.239133e-75,1.058240e-187,0.000000e+00,5.456448e-01
WS,0.000000e+00,2.745444e-215,0.000000e+00,0.000000e+00,1.147644e-13,5.456448e-01,0.000000e+00

Generating training and testing data set based on timeseries splitting

In [13]:
df_train = df['2015-02-04 17:51:00' : '2015-02-10 09:33:00']

In [14]:
df_test = df['2015-02-02 14:19:00' : '2015-02-04 10:43:00']

In [15]:
df_test1 = df['2015-02-11 14:48:00' : '2015-02-18 09:19:00']

Plotting correlations for training dataset

In [16]:
df1 = df_train[['Temperature', 'Humidity', 'Light', 'CO2', 'HumidityRatio', 'NSM', 'WS']]
df_train_corr =df1.corr()
df_train_corr.head(7)

,Temperature,Humidity,Light,CO2,HumidityRatio,NSM,WS
Temperature,1.000000,-0.141759,0.649942,0.559894,0.151762,0.259958,0.418657
Humidity,-0.141759,1.000000,0.037828,0.439023,0.955198,0.016974,0.108551
Light,0.649942,0.037828,1.000000,0.664022,0.230420,0.085417,0.279519
CO2,0.559894,0.439023,0.664022,1.000000,0.626556,0.209348,0.394834
HumidityRatio,0.151762,0.955198,0.230420,0.626556,1.000000,0.095987,0.243146
NSM,0.259958,0.016974,0.085417,0.209348,0.095987,1.000000,-0.010865
WS,0.418657,0.108551,0.279519,0.394834,0.243146,-0.010865,1.000000

Calculating p-values for training dataset

In [17]:
df_train_pval = pd.DataFrame(corrcoef_loop(df1), columns = df1.columns, index = df1.columns)
df_train_pval.head(7)

,Temperature,Humidity,Light,CO2,HumidityRatio,NSM,WS
Temperature,0.000000e+00,8.045844e-38,0.000000e+00,0.000000e+00,3.731142e-43,6.898404e-126,0.000000e+00
Humidity,8.045844e-38,0.000000e+00,6.396081e-04,0.000000e+00,0.000000e+00,1.256261e-01,8.957692e-23
Light,0.000000e+00,6.396081e-04,0.000000e+00,0.000000e+00,1.384224e-98,1.155777e-14,4.848841e-146
CO2,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.507120e-81,5.602596e-302
HumidityRatio,3.731142e-43,0.000000e+00,1.384224e-98,0.000000e+00,0.000000e+00,3.943321e-18,6.771405e-110
NSM,6.898404e-126,1.256261e-01,1.155777e-14,2.507120e-81,3.943321e-18,0.000000e+00,3.269109e-01
WS,0.000000e+00,8.957692e-23,4.848841e-146,5.602596e-302,6.771405e-110,3.269109e-01,0.000000e+00

In [18]:
feature_names = ['Temperature', 'Humidity', 'Light', 'CO2', 'HumidityRatio', 'NSM', 'WS']
X_train = df_train[feature_names]
y_train = df_train['Occupancy']
X_test = df_test[feature_names]
y_test = df_test['Occupancy']
X_test1 = df_test1[feature_names]
y_test1 = df_test1['Occupancy']

In [19]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
print('Accuracy of Logistic regression classifier on training set: {:.2f}'.format(logreg.score(X_train, y_train)))
print('Accuracy of Logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of Logistic regression classifier on training set: 0.98
Accuracy of Logistic regression classifier on test set: 0.98

In [22]:
gnb = GaussianNB()
gnb.fit(X_train, y_train)
print('Accuracy of GNB classifier on training set: {:.2f}'.format(gnb.score(X_train, y_train)))
print('Accuracy of GNB classifier on test set: {:.2f}'.format(gnb.score(X_test, y_test)))

Accuracy of GNB classifier on training set: 0.98
Accuracy of GNB classifier on test set: 0.98

In [24]:
svm = SVC()
svm.fit(X_train, y_train)
print('Accuracy of SVM classifier on training set: {:.2f}'.format(svm.score(X_train, y_train)))
print('Accuracy of SVM classifier on test set: {:.2f}'.format(svm.score(X_test, y_test)))

Accuracy of SVM classifier on training set: 1.00
Accuracy of SVM classifier on test set: 0.64

In [27]:
pred = svm.predict(X_test)
print(confusion_matrix(y_test, pred))
print(classification_report(y_test, pred))

[[1693    0]
 [ 971    1]]
             precision    recall  f1-score   support

          0       0.64      1.00      0.78      1693
          1       1.00      0.00      0.00       972

avg / total       0.77      0.64      0.49      2665

In [31]:
scores = []
for val in range (1, 41):
  clf = RandomForestClassifier(n_estimators = val)
  validated = cross_val_score(clf, X_test1, y_test1, cv = 10)
  scores.append(validated)

In [32]:
scores

[array([0.99692623, 0.98668033, 0.9795082 , 0.99384615, 0.88410256,
        0.93948718, 0.99897436, 0.91589744, 0.84717949, 1.        ]),
 array([0.99692623, 0.94159836, 0.9795082 , 0.90871795, 0.89846154,
        0.90974359, 0.98769231, 0.85641026, 0.99384615, 0.99794661]),
 array([0.99692623, 0.81659836, 0.95901639, 0.98461538, 0.94358974,
        0.91076923, 1.        , 0.96820513, 0.99384615, 0.84804928]),
 array([0.99692623, 0.97848361, 0.98053279, 0.90974359, 0.93333333,
        0.8974359 , 0.98974359, 0.98564103, 0.99487179, 0.99897331]),
 array([0.99692623, 0.95081967, 0.94159836, 0.93435897, 0.93333333,
        0.94666667, 0.99692308, 0.97333333, 0.99487179, 0.99897331]),
 array([0.99077869, 0.9067623 , 0.98053279, 0.98358974, 0.92512821,
        0.93538462, 1.        , 0.97435897, 0.95897436, 0.99794661]),
 array([0.99692623, 0.97131148, 0.9579918 , 0.99282051, 0.93538462,
        0.91076923, 1.        , 0.98461538, 0.99384615, 0.99897331]),
 array([0.99692623, 0.97540984, 0.9795082 , 0.92205128, 0.90564103,
        0.90769231, 1.        , 0.9825641 , 0.99487179, 0.99897331]),
 array([0.99692623, 0.96618852, 0.97028689, 0.98769231, 0.92615385,
        0.9374359 , 1.        , 0.94769231, 0.99487179, 0.99897331]),
 array([0.99692623, 0.87192623, 0.9795082 , 0.95897436, 0.92615385,
        0.96410256, 1.        , 0.98358974, 0.99487179, 0.99897331]),
 array([0.99692623, 0.91905738, 0.97336066, 0.94666667, 0.92820513,
        0.97025641, 0.99692308, 0.98461538, 0.99384615, 0.99897331]),
 array([0.99692623, 0.97643443, 0.98053279, 0.94564103, 0.89538462,
        0.93948718, 1.        , 0.9825641 , 0.99487179, 0.99383984]),
 array([0.99692623, 0.87704918, 0.97745902, 0.9774359 , 0.98461538,
        0.95794872, 1.        , 0.98461538, 0.99384615, 1.        ]),
 array([0.99590164, 0.98668033, 0.9795082 , 0.99282051, 0.97435897,
        0.95897436, 1.        , 0.97846154, 0.99282051, 0.99897331]),
 array([0.99692623, 0.98668033, 0.9795082 , 0.98769231, 0.90153846,
        0.95794872, 1.        , 0.98564103, 0.99384615, 0.99486653]),
 array([0.99692623, 0.98565574, 0.9795082 , 0.98769231, 0.90564103,
        0.92410256, 1.        , 0.95897436, 0.99487179, 0.99897331]),
 array([0.99692623, 0.96516393, 0.98053279, 0.93641026, 0.94153846,
        0.95794872, 1.        , 0.98358974, 0.99282051, 0.99897331]),
 array([0.99692623, 0.98258197, 0.9795082 , 0.9825641 , 0.92717949,
        0.95897436, 1.        , 0.97435897, 0.99384615, 0.99897331]),
 array([0.99692623, 0.98360656, 0.97745902, 0.98461538, 0.90051282,
        0.96307692, 1.        , 0.9825641 , 0.99487179, 0.99897331]),
 array([0.99692623, 0.9692623 , 0.96311475, 0.96205128, 0.90974359,
        0.94666667, 1.        , 0.98461538, 0.99384615, 0.99897331]),
 array([0.99692623, 0.95594262, 0.97233607, 0.98564103, 0.91487179,
        0.96307692, 1.        , 0.98358974, 0.96820513, 0.99794661]),
 array([0.99692623, 0.97336066, 0.9795082 , 0.97846154, 0.95179487,
        0.95794872, 1.        , 0.98358974, 0.99384615, 0.99897331]),
 array([0.99692623, 0.98360656, 0.9795082 , 0.96410256, 0.90666667,
        0.91487179, 1.        , 0.9825641 , 0.98974359, 0.99897331]),
 array([0.99692623, 0.93954918, 0.98053279, 0.97846154, 0.90358974,
        0.94051282, 1.        , 0.98358974, 0.99384615, 0.99897331]),
 array([0.99692623, 0.98565574, 0.97643443, 0.98358974, 0.92717949,
        0.94564103, 1.        , 0.98153846, 0.99384615, 0.99691992]),
 array([0.99692623, 0.98053279, 0.97745902, 0.98564103, 0.92615385,
        0.9374359 , 1.        , 0.98461538, 0.99384615, 1.        ]),
 array([0.99692623, 0.92520492, 0.9795082 , 0.99384615, 0.93025641,
        0.92410256, 1.        , 0.98051282, 0.99384615, 0.99897331]),
 array([0.99692623, 0.95389344, 0.9795082 , 0.97333333, 0.92512821,
        0.95794872, 1.        , 0.98358974, 0.99282051, 1.        ]),
 array([0.99692623, 0.91905738, 0.9795082 , 0.98358974, 0.93641026,
        0.94974359, 1.        , 0.98358974, 0.99384615, 0.99897331]),
 array([0.99692623, 0.98668033, 0.9795082 , 0.96923077, 0.91794872,
        0.9425641 , 1.        , 0.98358974, 0.99282051, 0.99897331]),
 array([0.99692623, 0.98258197, 0.9795082 , 0.99282051, 0.92307692,
        0.97230769, 1.        , 0.9825641 , 0.99384615, 0.99897331]),
 array([0.99692623, 0.94364754, 0.97438525, 0.95692308, 0.93435897,
        0.94871795, 1.        , 0.98564103, 0.99282051, 0.99897331]),
 array([0.99692623, 0.98668033, 0.9795082 , 0.99282051, 0.93230769,
        0.96102564, 1.        , 0.98358974, 0.99487179, 0.99897331]),
 array([0.99692623, 0.93135246, 0.98053279, 0.9825641 , 0.90974359,
        0.93333333, 1.        , 0.98461538, 0.99282051, 0.99897331]),
 array([0.99692623, 0.97336066, 0.97438525, 0.98666667, 0.93435897,
        0.96615385, 1.        , 0.98461538, 0.97025641, 0.99897331]),
 array([0.99692623, 0.96106557, 0.98053279, 0.98358974, 0.94153846,
        0.94461538, 1.        , 0.98358974, 0.99282051, 0.99897331]),
 array([0.99692623, 0.97028689, 0.97745902, 0.96102564, 0.92205128,
        0.94871795, 1.        , 0.9825641 , 0.99282051, 0.99897331]),
 array([0.99692623, 0.97540984, 0.98053279, 0.95589744, 0.92615385,
        0.94974359, 1.        , 0.98358974, 0.99487179, 0.99897331]),
 array([0.99692623, 0.92110656, 0.98053279, 0.97435897, 0.93435897,
        0.95589744, 1.        , 0.98358974, 0.99487179, 0.99897331]),
 array([0.99692623, 0.98463115, 0.9795082 , 0.9825641 , 0.93333333,
        0.94769231, 1.        , 0.98461538, 0.99487179, 0.99897331])]

In [ ]:
test