In [29]:
import google.datalab.bigquery as bq
import pandas as pd

In [38]:
%%bq query -n requests_test
SELECT * EXCEPT (name)
FROM `bigquerydata210514.test_data`
#WHERE class = 3
ORDER BY id ASC
#LIMIT 10

In [39]:
df_test = requests_test.execute(output_options=bq.QueryOutput.dataframe()).result()
df_test.head(5)

Exception: invalidQuery: Syntax error: Expected "(" or keyword SELECT but got ")" at [10:46]

In [32]:
%%bq query -n requests_train
SELECT * EXCEPT (name)
FROM `bigquerydata210514.train_data`
#WHERE class = 3
ORDER BY id ASC

In [33]:
df_train = requests_train.execute(output_options=bq.QueryOutput.dataframe()).result()
df_train.head(5)

,id,survived,class,sex,age,number_of_sibling_spouse,number_of_children_parent,ticket_number,fare,cabin,embark_port
0,1,False,3,male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,True,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,True,3,female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,True,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,False,3,male,35.0,0,0,373450,8.0500,None,S

In [36]:
%%bq query -n requests_test_label
SELECT * EXCEPT ()
FROM `bigquerydata210514.test_label`
#WHERE class = 3
ORDER BY id ASC

In [37]:
df_test_label = requests_test_label.execute(output_options=bq.QueryOutput.dataframe()).result()
df_test_label.head(5)

Exception: invalidQuery: Syntax error: Unexpected ")" at [1:18]